/* SimpleTextComponent.css */
.doPzFc {
  height: 48px;
  border-bottom: 1px solid var(--gray-5);
  background: var(--gray-10);
  padding: 10px 16px;
  display: none !important;
}

.jPHhmz {
  height: 48px;
  border-bottom: 1px solid var(--gray-5);
  background: var(--gray-10);
  padding: 10px 16px;
  display: none !important;
}

.border-t {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  display: none !important;
}

.lkIAQf {
  height: calc(-48px + 100vh);
  overflow: auto;
  display: none !important;
}
.kPulPT {
  position: fixed;
  width: 680px;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: 18px;
  z-index: 999;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
